<a href="https://colab.research.google.com/github/JaroslavHolecek/Teaching/blob/master/JupyterNotebook/Python/Datove_typy_Zakladni_operatory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Základní Datové typy a Operátory</h1>
<p>Každá proměnná má svůj datový typ, a to podle toho, jakou do ní uložíme hodnotu.<br>Python má takzvané dynamické datové typování - tedy datový typ proměnné se může v průběhu programu měnit - záleží, jakou hodnotu jsme do proměnné uložili naposledy.</p>
<table>
<tr> <th>Význam</th> <th>Anglicky</th> <th>Označení v Pythonu</th> <th>Možné hodnoty</th> </tr>
<tr> <td>Celé číslo</td> <td>integer</td> <td>int</td> <td> 0 , 178 , -9 </td> </tr>
<tr><td>Desetinné číslo</td><td>float</td><td>float</td> <td> 0.0 , 3.14 , -2.71  </td> </tr>
<tr><td>Text (řetězec znaků)</td><td>string</td><td>str</td> <td> "A" , "Ahoj" , "Jarda" </td> </tr>
<tr><td>Pravda/Nepravda</td><td>boolean</td><td>bool</td> <td>True , False </td> </tr>
</table>

<h2>Funkce <code>type()</code></h2>
<p>Funkce <code>type()</code> nám vrátí datový typ proměnné kterou dáme do jejího argumentu.<br>
Pro vypsání výsledku funkce do konzole, použijeme funkci <code>print()</code></p>

In [ ]:
number = 34
name = "Honza"
boolean_value = False
another_number = 56.981

print(number, type(number))
print(name, type(name))
print(boolean_value, type(boolean_value))
print(another_number, type(another_number))

Co znamená slovo `class` zjistíme později v materiálu k objektovému programování.

<h2>Přetypování</h2>
<p>Pomocí funkcionality přetypování lze datový typ proměnné přetypovat na jiný datový typ.</p>

In [ ]:
promenna = 64 # int
promenna2 = float(promenna)
print(promenna, type(promenna), promenna2, type(promenna2))

cislo = 12
retezec = str(cislo)
zpet_cislo = int(retezec)
print(cislo, type(cislo), retezec, type(retezec), zpet_cislo, type(zpet_cislo))

Přetypování často používáme při načítání vstupu od uživatele. Funkce <code>input()</code> vrací vždy string a pokud chceme s hodnotou pracovat jako s číslem, musíme ji přetypovat.

In [ ]:
my_integer = int(input("Zadejte cislo:"))
print("Zadal jsi:", my_integer, type(my_integer))

<h2>Operátory se základními datovými typy</h2>
<p>Jak název napovídá, operátor je znak, který provede nějakou operaci.<br>Při použití operátorů je důležité s jakým <strong>datovým typem</strong> jej používáme - výsledek stejného operátoru na různém datovém typu se obykle liší a někdy ani nelze operátor použít.</p>

<h3>=</h3>
<p>Operátor <code>=</code> znamená "ulož".<br>Vezme tedy <strong>hodnotu vpravo</strong> a uloží ji do <strong>proměnné vlevo</strong>.<br>Pokud bude vpravo proměnná, použije se hodnota této proměnné, ne proměnná samotná.</p>
<p>Srovnejte s použitím znaménka = v matematice. V čem se liší?</p>

<h3>+ -</h3>
<p>Operátory <code>+</code> a <code>-</code> provádí s čísly očekávané sčítání a odčítání.<br>Co však znamená sečíst/odečíst dva řetězce? Vyzkoušejte v kódu.</p>

In [ ]:
a = 15
b = 37
scitani = a + b
odcitani = a - b
print("Cisla:", a, "+", b, "=", scitani, "|", a, "-", b, "=", odcitani)

napis1 = "Ahoj"
napis2 = "Jarda"
scitani = napis1 + napis2
print("Nápisy:",napis1,"+",napis2,"=",scitani)

odcitani = napis1 - napis2

<h3>*</h3>
<p>Operátor <code>*</code> provádí s čísly násobení.<br>Podobně jako v předchozím případě vynásobit dva řetězce nelze. Co nám však Python umožňuje, je vynásobit číslo a řetězec.</p>

In [ ]:
a = 15
b = 37
nasobeni = a * b
print("Cisla:", a, "+", b, "=", nasobeni)

napis = "Ahoj"
nasobeni = a * napis
print("Číslo a nápis:",a,"*",napis,"=",nasobeni)

<h3>/</h3>
<p>Operátor <code>/</code> provádí s čísly dělení.<br>Jeho výsledkem je vždy <strong>float</strong>, bez ohledu na typ vstupních čísel.</p>

In [ ]:
a = 15
b = 3
deleni = a / b
print("Integer:", a, "/", b, "=", deleni, type(deleni))

a = 15.5
b = 3.1
deleni = a / b
print("Float:", a, "/", b, "=", deleni, type(deleni))

<h3>// %</h3>
<p>Operátory <code>//</code> a <code>%</code> znáte z 2. třídy základní školy.<br>Předtím, než jste se dozvěděli o desetinných čísel jste dělili celá čísla </p>

In [ ]:
scitani = 15 + 32 # 47
odcitani = 65 - 7 # 58
nasobeni = 6 * 2 # 18
deleni = 420 / 6 # 7
mocnina = 5 ** 2 # 25
deleni2 = 10 // 3 # 3
modulo = 30 % 7 # 2

Operátory mohou pracovat i proměnnými.

In [ ]:
vysledek1 = scitani * odcitani
vysledek2 = modulo + nasobeni

Dále existuje operátor `==` pro kontorolu rovnosti dvou hodnot. Výsledkem je buď True, nebo False.

In [ ]:
print(2 == 5)
print(True == False)
print("ahoj" == "ahoj")
print("jedna" == "dva")

False
False
True
False

Operátory lze kombinovat tak, že nám usnadní psaní.
Např. kdybychom chtěli přičíst hodnotu do proměnné, zapsali bychom to následovně:

In [ ]:
var = 0
var = var + 2

Tento kus kódu přičte hodnotu 2 k proměnné.

Zápis jde však zjednodušit:

In [ ]:
var += 2 # přičte k proměnné var 2

Tento zápis jde použít pro všechny matematické operace:

In [ ]:
var -= 2 # odečte od proměnné var 2
var *= 2 # vynásobí proměnnou dvěma
var /= 2 # odečte od proměnné 2
var %= 2 # vydělí proměnnou dvěma a uloží do ní zbytek

# Cvičení

# 1

Napiš program, který ze vstupu přijme dvě desetinná čísla. Jejich součet umocní na třetí, vydělí číslem pí(3.14).
Na nový řádek vypíše výsledek mezera datový typ výsledku.

Příklady výsledků pro Vaší kontrolu:
- 3568.657 <class 'float'>
- 547.12 <class 'float'>
- 1206.1548 <class 'float'>

# 2

Načtěte od uživatele celé číslo(užijte přetypování) a vynásobte ho dvěma. Načtěte druhé celé číslo, celočíselně ho vydělte,
a vypište na obrazovku výsledek rovnosti těchto dvou čísel.

Příklady výsledků pro Vaší kontrolu:
- True
- False
- False

# 3

Načtěte ze vstupu libvolné číslo, umocněte modulo zadaného čísla na druhou, vydělte ho 1/4,
a vypište jeho pátou mocninu.
Na další řádek vypiště datový typ výsledného čísla.

Příklady výsledků pro Vaší kontrolu:
- 235
  <class 'int'>
- 8971
  <class 'int'>
- 53.61
  <class 'float'>